# Ignorar la carpeta .terraform que contiene estado local y plugins
.terraform/

# Ignorar archivos de estado y variables sensibles
*.tfstate
*.tfstate.backup
terraform.tfvars
terraform.tfvars.json

# Ignorar claves privadas
mi_clave_aws

# Ignorar archivos de log y otros temporales
*.log

# Ignorar archivos de backup o swap del editor
*~
*.swp
